{%- comment -%} Profile links row. Include with: {% include links.html %} {%- endcomment -%}
<ul class="profile-links" role="list">
  {%- if site.links.scholar %}<li><a href="{{ site.links.scholar }}" rel="me">{% include icon.html name="scholar" %}Google Scholar</a></li>{% endif %}
  {%- if site.links.github %}<li><a href="{{ site.links.github }}" rel="me">{% include icon.html name="github" %}GitHub</a></li>{% endif %}
  {%- if site.links.linkedin %}<li><a href="{{ site.links.linkedin }}" rel="me">{% include icon.html name="linkedin" %}LinkedIn</a></li>{% endif %}
  {%- if site.links.youtube != "" and site.links.youtube %}<li><a href="{{ site.links.youtube }}" rel="me">{% include icon.html name="youtube" %}YouTube</a></li>{% endif %}
</ul>
